*{
	font-family: arial, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: #eee;
}

.container{
	padding: 0 20px;
	width: auto;
	margin: 0 80px;
	background: #fff;
}
.page-content{
	display: flex;
	justify-content: space-between;
}

.page-content .col-one{
	width: 53%;
}
.page-content .col-two{
	width: 24%;
}
.page-content .col-three{
	width: 20%;
}

