<!DOCTYPE html>
<html>
<head>
	<title>Components</title>
	<script src="https://kit.fontawesome.com/876546224e.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="./style-item-subject.css">
	<link rel="stylesheet" type="text/css" href="style-list-by-object.css">
	<style type="text/css">
		*{
			font-family: arial, sans-serif;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}
	</style>
</head>
<body>
	<!-- component: item-subject -->
	<li class="item-subject">
	  <a href="#">
	    <i class="fas fa-home"></i>
	    Trang chủ
	  </a>
	</li>
	<hr style="margin-bottom: 15px;">
	<!-- component: list-by-subject -->
	<ul class="list-by-subject">
  		<li class="item-subject">
	    	<a href="#">
		      	<i class="fas fa-home"></i>
		      	Làng công nghệ
	    	</a>
	  	</li>
	  	<li class="item-sub">
		    <a href="#">
		      <img src="https://st.quantrimang.com/photos/image/icon/virus-hacker-bao-mat-size-24x24-znd.png" alt="#">
		      <span>Tấn công mạng</span>
		    </a>
	  </li>
	</ul>
</body>
</html>