<!DOCTYPE html>
<html>
<head>
	<title>Components</title>
	<script src="https://kit.fontawesome.com/876546224e.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="./style-item-subject.css">
	<link rel="stylesheet" type="text/css" href="style-list-by-object.css">
	<link rel="stylesheet" type="text/css" href="style-sub-content.css">
	<style type="text/css">
		*{
			font-family: arial, sans-serif;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}
	</style>
</head>
<body>
	<!-- component: item-subject -->
	<li class="item-subject">
	  <a href="#">
	    <i class="fas fa-home"></i>
	    Trang chủ
	  </a>
	</li>
	<hr style="margin-bottom: 15px;">
	<!-- component: list-by-subject -->
	<ul class="list-by-subject">
  		<li class="item-subject">
	    	<a href="#">
		      	<i class="fas fa-home"></i>
		      	Làng công nghệ
	    	</a>
	  	</li>
	  	<li class="item-sub">
		    <a href="#">
		      <img src="https://st.quantrimang.com/photos/image/icon/virus-hacker-bao-mat-size-24x24-znd.png" alt="#">
		      <span>Tấn công mạng</span>
		    </a>
	  </li>
	</ul>
	<hr style="margin-bottom: 15px;">
	<!-- component: sub-content -->
	<div class="sub-content">
	  <a href="#"><img src="https://st.quantrimang.com/photos/image/2020/04/04/luong-khi-nha-kinh-tren-toan-cau-co-the-giam-xuong-muc-chua-tung-thay200.jpg" alt="#">
	  </a>
	  <div class="content">
	    <a href="#"><h2>Lượng khí nhà kính trên toàn cầu có thể giảm xuống mức chưa từng thấy kể từ Thế chiến II</h2></a>
	    <p>Sự bùng phát của COVID-19 đã vô tình châm ngòi cho một cuộc “thanh lọc” bầu khí quyển đang rất cần thiết đối với trái đất lúc này</p>
	    <p class="info">
	      <img src="https://st.quantrimang.com/photos/avatars/2018/20854636717320292297468-size-24x24-znd.jpg" alt="#">
	      <span>Phạm Hải</span>
	      <span>2 giờ trước</span>
	    </p>
	  </div>
	</div>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</body>
</html>