<!DOCTYPE html>
<html>
<head>
	<title>Components</title>
	<script src="https://kit.fontawesome.com/876546224e.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="./style-item-subject.css">
	<link rel="stylesheet" type="text/css" href="./style-list-by-object.css">
	<link rel="stylesheet" type="text/css" href="./style-sub-content.css">
	<link rel="stylesheet" type="text/css" href="./style-news.css">
	<link rel="stylesheet" type="text/css" href="./style-slides.css">
	<style type="text/css">
		*{
			font-family: arial, sans-serif;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}
	</style>
</head>
<body>
	<!-- component: item-subject -->
	<li class="item-subject">
	  <a href="#">
	    <i class="fas fa-home"></i>
	    Trang chủ
	  </a>
	</li>
	<hr style="margin-bottom: 15px;">
	<!-- component: list-by-subject -->
	<ul class="list-by-subject">
  		<li class="item-subject">
	    	<a href="#">
		      	<i class="fas fa-home"></i>
		      	Làng công nghệ
	    	</a>
	  	</li>
	  	<li class="item-sub">
		    <a href="#">
		      <img src="https://st.quantrimang.com/photos/image/icon/virus-hacker-bao-mat-size-24x24-znd.png" alt="#">
		      <span>Tấn công mạng</span>
		    </a>
	  </li>
	</ul>
	<hr style="margin-bottom: 15px;">
	<!-- component: sub-content -->
	<div class="sub-content">
	  <a href="#"><img src="https://st.quantrimang.com/photos/image/2020/04/04/luong-khi-nha-kinh-tren-toan-cau-co-the-giam-xuong-muc-chua-tung-thay200.jpg" alt="#">
	  </a>
	  <div class="content">
	    <a href="#"><h2>Lượng khí nhà kính trên toàn cầu có thể giảm xuống mức chưa từng thấy kể từ Thế chiến II</h2></a>
	    <p>Sự bùng phát của COVID-19 đã vô tình châm ngòi cho một cuộc “thanh lọc” bầu khí quyển đang rất cần thiết đối với trái đất lúc này</p>
	    <p class="info">
	      <img src="https://st.quantrimang.com/photos/avatars/2018/20854636717320292297468-size-24x24-znd.jpg" alt="#">
	      <span>Phạm Hải</span>
	      <span>2 giờ trước</span>
	    </p>
	  </div>
	</div>
	<hr style="margin-bottom: 30px;">
	<!-- component: news -->
	<li class="news">
		<a href="#">
			<img src="https://st.quantrimang.com/photos/image/2020/01/31/website-cap-nhat-tinh-hinh-dich-cum-vu-han-tren-toan-the-gioi200-size-80x80-znd.jpg">
			<p>Tình hình dịch viêm phổi ở Việt Nam hôm nay và thế giới 05/04/2020</p>
		</a>
	</li>
	<hr style="margin-bottom: 50px;">
	<!-- component: slides -->
	<div class="slides">
		<a href="#">
			<!-- <img src="https://st.quantrimang.com/photos/image/2020/04/04/Zoom-bao-mat-thong-tin-640-size-640x335-znd.jpg"> -->
			<div class="logo">
				<div class="overlay">
					<p>Cách bảo mật tài khoản Zoom, tránh rò rỉ dữ liệu cá nhân</p>
				</div>				
			</div>			
		</a>
	</div>
	<hr style="margin-top: 50px;">
</body>
</html>