.news {
	list-style: none;
	padding: 10px 0px;
	border-bottom: 1px solid #ccc;	
}

.news a{
	display: flex;
	text-decoration: none;
	color: #666;
	font-size: 14px;
}

.news img{
	width: 58px;
	border-radius: 4px;
	margin-right: 8px;
}

.news a:hover{
	color: #ff4500;
}

.news a:hover{
	color: #ff4500;
}


