.main-menu {
	overflow: hidden;
}
.navbar{
	background-color: #58257b;
	display: flex;
	border-radius: 3px;
	margin-bottom: 20px;
	white-space: nowrap; /* Nội dung không xuống dòng*/
}
.navbar .item{  
  list-style: none;
}

.navbar .item a{
	display: block;
  	padding: 6px 9px;
 	text-decoration: none;
 	color: #fff;
}

.navbar .item img{
	padding-right: 4px;
	vertical-align: text-bottom;
	width: 20px;
	height: 20px;
	filter: brightness(0) invert(1);/* chuyển màu file png sang white*/
}

.navbar .item a:hover{
	color: #ff0;
}